@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './partials/variables'; 

body{
    background-color: $primary-color;
    font-family: "Open Sans", sans-serif;
    color: white;
    min-height: 100vh;
}

h1,
h2{
    font-size: 2rem;
    font-weight: 800;
}